body{
    font-family: "Gentium Basic", cursive;
    background-color: peachpuff;




}
h1 {background-color: darkgray; color: white; text-align: center;}

label{
    color: darkgray;
    text-align: center;
    width: 100px;
}

input[type=text], input [type=button]{
    padding: 10px;
    border: solid 1px darkgreen;
    border-radius: 10px;
    width: 200px;

}
input[type=color]{
    border: solid 1px darkgreen;
    border-radius: 10px;

}
h2{    border: dotted 5px dimgray; /*ääris, dashed, outline, double, solid*/
    padding: 2%; /*vahe tekstist ääriseni*/
    margin: 10px; /*vähe veebilehe piirist ääreseni*/
    border-radius: 10px;
    width: fit-content; /*laius*/
    background-color: lightgrey}