div{
    width:25%;
    border: solid 0.5pt black;
    position:absolute;
    left: 12cm;
    top: 5cm;
    padding: 0.5%;
    border-radius: 30px;
    font-family: "Book Antiqua",serif;
    color: white;
    border-collapse: collapse;
    margin: 10px;
    background-color:grey ;

}
footer{
    text-align: center;
    width:100%;
    border: solid 1pt black;
    background-color: dimgrey;
    color: white;
    position: fixed;
    bottom: 0px;
    left:0;
    font-family: "Gill Sans Ultra Bold", sans-serif;
}

header{
    text-align: center;
    color: white;
    border: solid 2pt lightgray;
    background-color: darkgray;
    width:  50%;
    position: absolute;
    left: 12cm;
    top: 0cm;
    font-family: "Century Gothic";
}
img{
    border: solid 3pt lightgray;
    border-collapse : separate;
    border-radius: 30px;
    filter: drop-shadow(3px 4px 5px darkgrey) ;


}

